<ng-container *ngIf="(basketService.basketSource$ | async) as basket">
  
    <div id="mySidenav" class="sidenav" *ngIf="getCount(basket.items) > 0">
        <a id="blog" onclick="openNavBasket()" style="cursor: pointer;">
          <span>
            <i class="fa fa-shopping-cart text-white" *ngIf="currentCulture == 'en'" style="float: inline-end;"></i>
            <i class="fa fa-shopping-cart text-white" *ngIf="currentCulture == 'ar'"></i>
          </span>
          {{'shopping basket'|translate}}
        </a>
    </div>
<!-- side bar for basket  -->

<div id="mySidebarBasket" class="sidebar shadow-sm">
    <div style="direction: rtl;">
        <a href="javascript:void(0)"  class="btn-close" style="font-size: large;margin: 2px;" onclick="closeNavBasket()" >
        </a>
    </div>

    
    <!-- <button type="button" class="btn-close text-reset" style="padding: 0px; margin: 0px;margin-right: 10px;" onclick="closeNavBasket()"></button> -->

    <ng-container *ngIf="(basketService.basketSource$ | async) as basket">
        <div class="card mt-1" style="max-width: 482px;margin: 10px;" *ngFor="let item of basket.items">
            <div class="row g-0">
                <div class="col-md-4 d-flex justify-content-center">
                    <img [src]="ProductImageUrl + item.pictureUrl" alt="{{item.productName}}" class="img-fluid" style="margin-top: 10%;" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a *ngIf="currentCulture == 'ar'" routerLink="/shop/{{item.basketItemId}}" class="text-dark  text-decoration-none"
                            style="font-size: 15px;">{{item.productName}}</a>

                            <a *ngIf="currentCulture == 'en'" routerLink="/shop/{{item.basketItemId}}" class="text-dark  text-decoration-none"
                            style="font-size: 15px;">{{item.productNameEn}}</a>

                        <div class="d-flex justify-content-between">
                            <p class="card-text mt-1"> {{'sbPrice'|translate}}: <strong>{{item.price}}</strong></p>

                            <p class="card-text">{{'sbquantity'|translate}} : 
                                <i class="fa fa-plus-circle text-warning" (click)="incrementQuantity(item)"
                                style="cursor: pointer; font-size: 20px;"></i>

                                <strong style="font-size: 1.3em;"> {{item.quantity}}</strong>

                               <i class="fa fa-minus-circle text-warning mx-1"
                                    (click)="removeItem(item.basketItemId,1)"
                                    style="cursor: pointer; font-size: 20px;"></i>
                            </p>
                        </div>
                        
                        <div class="d-flex justify-content-between">
                            <p class="card-text mt-1"><span>{{'sbtotal'|translate}}: </span> <strong>{{item.price * item.quantity}}</strong></p>

                            <p class="card-text">          
                                <i (click)="removeItem(item.basketItemId,item.quantity)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>    
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <hr>
    <div class="d-flex justify-content-between m-2" *ngIf="(basketService.basketTotalSource$ | async) as Totals" >
      <p><strong>{{'Your total purchases'|translate}} :  {{Totals.total}} </strong></p>
      <button  class="btn btn-outline-primary" onclick="closeNavBasket()">{{'Continue shopping'|translate}}</button>
    </div>
</div>


</ng-container>