.page-link.active, .active > .page-link {
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #43afaa;
    border-color: var(--bs-pagination-active-border-color);
}

.active{
    z-index: 3;
    color: var(--bs-pagination-active-color);
    background-color: #43afaa;
    border-color: var(--bs-pagination-active-border-color);
}