

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';
@import 'swiper/css/effect-coverflow';


  /* للشاشات الكمبيوتر */

@media (min-width: 1025px) {
    
    .mudiem-screen2{
        display: none;
    }

    .small-screen2 {
      display: none;
    }

    .large-screen2 {
        display: block;
      }
  }
    /* للشاشات التابلت */
  @media (max-width: 1024px) {
    .large-screen2 {
      display: none;
    }
    .small-screen2 {
     display: none;
    }
    .mudiem-screen2{
        display: block;
    }
  }
  /* للشاشات الصغيرة */
  @media (max-width: 767px) {
    .large-screen2 {
      display: none;
    }

    .mudiem-screen2{
        display: none;
    }


    .small-screen2 {
      display: block;
      margin-right: 4px;
      justify-content: center;
    }
  }