
<section >
    <div class="container" *ngIf="token && email">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image"> -->
            <img src="../../../assets/images/Beshay Logo.png"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
          <form [formGroup]="ResetPasswordForm" (ngSubmit)="resetPassword()">
                <div class="text-center mb-4">
                    <h1 class="mb-3">{{'change your password'|translate}}</h1>
                </div>
    
                <div class="form-floating mt-3">
                    <input  type="email" formControlName="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
                    <label for="floatingEmail">{{'Email Address'|translate}}</label>

                </div>
               
                <div class="form-floating mt-3">
                  <input [class.is-invalid]="ResetPasswordForm.get('newPassword')?.invalid && ResetPasswordForm.get('newPassword')?.touched" 
                         [type]="showPassword ? 'text' : 'password'"
                         formControlName="newPassword" 
                         class="form-control" 
                         id="floatingPassword" 
                         placeholder="Password">
                  <label for="floatingPassword">{{ 'Password' | translate }}</label>
                  
                  <div *ngIf="ResetPasswordForm.get('newPassword')?.errors?.['required']" class="invalid-feedback">
                      {{ 'password is required' | translate }}
                  </div>

                  <div *ngIf="ResetPasswordForm.get('newPassword')?.hasError('minlength')" class="invalid-feedback">
                    {{'password minimum'|translate}}
                  </div>
             
                  <div *ngIf="ResetPasswordForm.get('newPassword')?.hasError('maxlength')" class="invalid-feedback">
                  {{'password maxnmum'|translate}}
                 </div>

                 <div *ngIf="ResetPasswordForm.get('newPassword')?.hasError('pattern')" class="invalid-feedback">
                  {{'password pattern'|translate}}
                 </div>
                  
                  <div class="form-check mt-2">
                      <input class="form-check-input" 
                             type="checkbox" 
                             (change)="togglePasswordVisibility()" 
                             id="showPasswordCheckbox">
                      <label class="form-check-label" for="showPasswordCheckbox">
                          {{'Show Password'|translate}}
                      </label>
                  </div>
              </div> 
                  
                  <button [disabled]="ResetPasswordForm.invalid" style="background-color: #8c6f4e; border-color: #8c6f4e;"  class="w-100 btn btn-lg btn-primary mt-3" type="submit">{{'save'|translate}}</button>  
          </form>
        </div>
      </div>
    </div>
  </section>

  