
<!-- 
<div id="mySidenav" class="sidenav" >
  <a id="about" onclick="openNav()" style="cursor: pointer;"><i class="fa fa-search"></i> ابحث معانا</a>
  <a id="projects" onclick="openNavBasket()"  style="cursor: pointer;"><i class="fa fa-shopping-cart text-white"></i> سله المشتريات</a>
</div> -->
<!-- <div id="mySidenav" class="sidenav">
  <a id="about" onclick="openNav()" style="cursor: pointer;"><i class="fa fa-search"></i>{{'SearchWithUs'|translate}}</a>
</div> -->

<carousel [isAnimated]="true" [interval]="8000">
  <slide *ngFor="let cat of Categories">
    <img [src]="imagePath + cat.imagePath" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption  d-md-block" style="background-color: #1f1e1ea6;width: 30%;bottom: 13%;">
      <p *ngIf="currentCulture == 'ar'" style="font-size: large;">{{cat.imageDescription}}</p>

      <p *ngIf="currentCulture == 'en'" style="font-size: large;">{{cat.imageDescriptionEn}}</p>
      <button type="button" class="btn btn-primary" style="background-color: #8c6f4e;border-color: #8c6f4e;"
        (click)="goToCategoryProduct(cat.itemCategoryId)">{{'ShopNow'|translate}}</button>
    </div>
  </slide>
</carousel>



<div class="line" ></div>



<div>
  <div class=" mt-5 text-center">
    <h3 class="display-5">{{'What we offer you'|translate}}</h3>
  </div>
  
  <div class="text-center mt-5" style="margin-bottom: 100px;">
    <div class="row  row-cols-1 row-cols-lg-3">
      <div class="col d-flex justify-content-center" >
        <div class="content-benfit">
          <div class="d-flex">
            <a style="margin: 15px;color: #8c6f4e;cursor: pointer;" href="https://wa.me/+201155927722"><i class="fa fa-comments-o" aria-hidden="true"
                style="font-size: 41px;"></i></a>
            <div class="media-body">
              <div class="media-heading h3">{{'Technical Support'|translate}}</div>
              <div class="text desc std text-muted">{{'All days of the week'|translate}}</div>
              <a href="https://wa.me/+201155927722" style="text-decoration: none;color:#8c6f4e;">01155927722</a>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col d-flex justify-content-center">
        <div class="content-benfit">
          <div class="d-flex">
            <div style="margin: 15px;color: #8c6f4e;"><i class="fa fa-repeat" aria-hidden="true"
                style="font-size: 41px;"></i></div>
            <div class="media-body">
              <div class="media-heading h3">14&nbsp;{{'retrieval day'|translate}}&nbsp;</div>
              <div class="text desc std text-muted">{{'retrieval reason'|translate}}</div>
            </div>
          </div>
        </div>
      </div>
  
  
      <div class="col d-flex justify-content-center" >
        <div class="content-benfit">
          <div class="d-flex">
            <a style="margin: 15px;color: #8c6f4e;"><i class="fa fa-credit-card" aria-hidden="true"
                style="font-size: 41px;cursor: pointer;"></i></a>
            <div class="media-body">
              <div class="media-heading h3">{{"Payment methods"|translate}}</div>
              <div class="text desc std text-muted">{{'Safe and versatile'|translate}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="line" ></div>


  <app-product-carousel></app-product-carousel>


  <div class="line" ></div>

  <div class="container mt-4">

    
        <!-- side bar for product sorting -->

    <div id="mySidebar" class="sidebar shadow-sm">

      <a href="javascript:void(0)" class="closebtn" style="z-index: 10;position: sticky;color: #f44336;" onclick="closeNav()"><i class="fa fa-window-close" aria-hidden="true"></i>
      </a>
      

      <!-- first  way to display product in side bar -->

      <h5 style="color: #8c6f4e;" class="ms-3 text-center">{{'ShopByPrice'|translate}}
      </h5>
      <div *ngIf="currentCulture == 'ar'" class="p-2">
        <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;border-color: #8c6f4e;"
          class="form-select mb-4" (change)="onSortSelected($event)">
          <option style="font-weight: bolder;font-size: larger;color: white;" class="text-center p-1"
            *ngFor="let option of sortOptions" [value]="option.value">
            {{option.nameAr}}
          </option>
        </select>
      </div>
      <div *ngIf="currentCulture == 'en'" class="p-2">
        <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;border-color: #8c6f4e;"
          class="form-select mb-4" (change)="onSortSelected($event)">
          <option style="font-weight: bolder;font-size: larger;color: white;" class="text-center p-1"
            *ngFor="let option of sortOptions" [value]="option.value">
            {{option.nameEn}}
          </option>
        </select>
      </div>

      <h5 style="color: #8c6f4e;" class="ms-3 text-center"> {{'ShopByBrands' | translate}}
      </h5>

      <div *ngIf="currentCulture == 'ar'" class="p-2">
        <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;border-color: #8c6f4e;"
          class="form-select mb-4" #v (change)="onBrandSelected(+v.value)">
          <option style="font-weight: bolder;font-size: larger;color: white;" class="text-center p-1"
            *ngFor="let brand of brands" [class.selected]="brand.brandId" [value]="brand.brandId">{{brand.descA}}
          </option>
        </select>
      </div>
      <div *ngIf="currentCulture == 'en'" class="p-2">
        <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;border-color: #8c6f4e;"
          class="form-select mb-4" #v (change)="onBrandSelected(+v.value)">
          <option style="font-weight: bolder;font-size: larger;color: white;" class="text-center p-1"
            *ngFor="let brand of brands" [class.selected]="brand.brandId" [value]="brand.brandId">{{brand.descE}}
          </option>
        </select>
      </div>

      <h5 style="color: #8c6f4e;" class="ms-3 text-center"> {{'ShopByType'|translate}}
      </h5>
      <div *ngIf="currentCulture == 'ar'" class="p-2">
        <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;border-color: #8c6f4e;"
          class="form-select mb-4" #v (change)="onTypeSelected(+v.value)">
          <option style="font-weight: bolder;font-size: larger;color: white;" class="text-center p-1"
            *ngFor="let type of types" [class.selected]="type.itemCategoryId==shopParams.typeId"
            [value]="type.itemCategoryId">
            {{type.itemCatDescA}}</option>
        </select>
      </div>
      <div *ngIf="currentCulture == 'en'" class="p-2">
        <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;border-color: #8c6f4e;"
          class="form-select mb-4" #v (change)="onTypeSelected(+v.value)">
          <option style="font-weight: bolder;font-size: larger;color: white;" class="text-center p-1"
            *ngFor="let type of types" [class.selected]="type.itemCategoryId" [value]="type.itemCategoryId">
            {{type.itemCatDescE}}</option>
        </select>
      </div>

      <!-- second  way to display product in side bar -->

      <h5 style="color: #8c6f4e;margin-top: 300px;" class="ms-3 text-center mb-3"> {{'ShopByBrands' | translate}}</h5>
      <div *ngIf="currentCulture == 'ar'"
        style="width: 100%;font-size: 22px;margin-left: 10px;border: 4px solid #8c6f4e;border-radius: 14px;">
        <ul class="list-group" style="width: 100%;padding: inherit;">
          <li class="list-group-item text-center" style="cursor:pointer;" *ngFor="let brand of brands"
            [class.active]="brand.brandId === shopParams.brandId" [value]="brand.brandId"
            (click)="onBrandSelected(brand.brandId)">
            {{brand.descA}}
          </li>
        </ul>
      </div>
      <div *ngIf="currentCulture == 'en'"
        style="width: 100%;font-size: 22px;margin-left: 10px;border: 4px solid #8c6f4e;border-radius: 14px;">
        <ul class="list-group" style="width: 100%;padding: inherit;">
          <li class="list-group-item text-center" style="cursor:pointer;" *ngFor="let brand of brands"
            [class.active]="brand.brandId === shopParams.brandId" [value]="brand.brandId"
            (click)="onBrandSelected(brand.brandId)">
            {{brand.descE}}
          </li>
        </ul>
      </div>

      <h5 style="color: #8c6f4e;" class="ms-3 text-center mb-3 mt-5">{{'ShopByType'|translate}}</h5>
      <div *ngIf="currentCulture == 'ar'"
        style="width: 100%;font-size: 22px;margin-left: 10px;border: 4px solid #8c6f4e;border-radius: 14px;">
        <ul class="list-group mb-5" style="width: 100%;padding: inherit;">
          <li class="list-group-item text-center" style="cursor:pointer;" *ngFor="let type of types"
            [class.active]="type.itemCategoryId === shopParams.typeId" [value]="type.itemCategoryId"
            (click)="onTypeSelected(type.itemCategoryId)">
            {{type.itemCatDescA}}
          </li>
        </ul>
      </div>
      <div *ngIf="currentCulture == 'en'"
        style="width: 100%;font-size: 22px;margin-left: 10px;border: 4px solid #8c6f4e;border-radius: 14px;">
        <ul class="list-group mb-5" style="width: 100%;padding: inherit;">
          <li class="list-group-item text-center" style="cursor: pointer;" *ngFor="let type of types"
            [class.active]="type.itemCategoryId === shopParams.typeId" [value]="type.itemCategoryId"
            (click)="onTypeSelected(type.itemCategoryId)">
            {{type.itemCatDescE}}
          </li>
        </ul>
      </div>
    </div>


    

<!-- 
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12">

          <h5 style="color: #8c6f4e;" class="ms-3 text-center"> {{'ShopByPrice'|translate}}
          </h5>
          <div *ngIf="currentCulture == 'ar'">
            <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;"
              class="form-select mb-4" (change)="onSortSelected($event)">
              <option  class="text-center p-1"
                *ngFor="let option of sortOptions" [value]="option.value">
                {{option.nameAr}}
              </option>
            </select>
          </div>
          <div *ngIf="currentCulture == 'en'">
            <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;"
              class="form-select mb-4" (change)="onSortSelected($event)">
              <option class="text-center p-1"
                *ngFor="let option of sortOptions" [value]="option.value">
                {{option.nameEn}}
              </option>
            </select>
          </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
          <h5 style="color: #8c6f4e;" class="ms-3 text-center"> {{'ShopByBrands' | translate}}
          </h5>
          <div *ngIf="currentCulture == 'ar'">
            <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;"
              class="form-select mb-4" #v (change)="onBrandSelected(+v.value)">
              <option  class="text-center p-1"
                *ngFor="let brand of brands" [class.selected]="brand.brandId" [value]="brand.brandId">{{brand.descA}}
              </option>
            </select>
          </div>
          <div *ngIf="currentCulture == 'en'">
            <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;"
              class="form-select mb-4" #v (change)="onBrandSelected(+v.value)">
              <option  class="text-center p-1"
                *ngFor="let brand of brands" [class.selected]="brand.brandId" [value]="brand.brandId">{{brand.descE}}
              </option>
            </select>
          </div>
        </div>
        <div class="col">
          <h5 style="color: #8c6f4e;" class="ms-3 text-center"> {{'ShopByType'|translate}}
          </h5>
          <div *ngIf="currentCulture == 'ar'">
            <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;"
              class="form-select mb-4" #v (change)="onTypeSelected(+v.value)">
              <option class="text-center p-1"
                *ngFor="let type of types" [class.selected]="type.itemCategoryId==shopParams.typeId"
                [value]="type.itemCategoryId">
                {{type.itemCatDescA}}</option>
            </select>
          </div>
          <div *ngIf="currentCulture == 'en'">
            <select style="background-color:#8c6f4e ;font-weight: bolder;font-size: larger;color: white;"
              class="form-select mb-4" #v (change)="onTypeSelected(+v.value)">
              <option  class="text-center p-1"
                *ngFor="let type of types" [class.selected]="type.itemCategoryId" [value]="type.itemCategoryId">
                {{type.itemCatDescE}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div>
      <section class="col-lg-12 col-md-12  col-sm-12">
        <div class="row mb-4">
          <div>
           

            <div class="row d-flex" style="justify-content: center; position: relative;">
            
              <ng-container *ngIf="currentCulture == 'ar'">
                <input type="text" placeholder="{{'PlaceHolderSearch'|translate}}" (keyup)="onKeyUp($event)" 
                     (keyup.enter)="onSrarch()" class="form-control me-2 col-sm-12" 
                     style="width:90%;border-radius: 50px; border: 2px solid #8c6f4e;" 
                     #search [value]="selectedProduct?.productName">
              </ng-container>
              
              <ng-container *ngIf="currentCulture == 'en'">
                <input type="text" placeholder="{{'PlaceHolderSearch'|translate}}" (keyup)="onKeyUp($event)" 
                     (keyup.enter)="onSrarch()" class="form-control me-2 col-sm-12" 
                     style="width:90%;border-radius: 50px; border: 2px solid #8c6f4e;" 
                     #search [value]="selectedProduct?.productNameEn">
              </ng-container>
              
              <ng-container *ngIf="currentCulture == 'ar'">
                <ul class="list-group" *ngIf="showDropdown" style="position: absolute; top: 100%; left: 5%; z-index: 1000;
                width: 90%; margin-top: 5px; border-radius: 5px;max-height: 400px;overflow-y: auto;">
                 <li class="list-group-item" style="cursor: pointer;" *ngFor="let product of filteredProducts" (click)="selectProduct(product)">
                   {{ product.productName }}
                 </li>
               </ul>
              </ng-container>
               
              <ng-container *ngIf="currentCulture == 'en'">
                <ul class="list-group" *ngIf="showDropdownEn" style="position: absolute; top: 100%; left: 5%; z-index: 1000;
                 width: 90%; margin-top: 5px; border-radius: 5px;max-height: 400px;overflow-y: auto;">
                <li class="list-group-item" style="cursor: pointer;" *ngFor="let product of filteredProductsEn" (click)="selectProduct(product)">
                  {{ product.productNameEn }}
                </li>
              </ul>
              </ng-container>
              
            </div>
            
            <div class="d-flex" style="justify-content:center">
              <button class="btn btn-light m-2" style="color: black;" (click)="OnReset()"> <i class="fa fa-repeat"
                  aria-hidden="true"></i>
                {{'Reset'|translate}}</button>
              <button style="background-color: #8c6f4e;color: white;border-color: #8c6f4e;" class="btn btn-info m-2" (click)="onSrarch()"> <i
                  class="fa fa-search" aria-hidden="true"></i>
                {{'Search'|translate}}</button>
            </div>
          </div>
          <app-paging-header [TotalCount]="TotalCount" [pageNumber]="shopParams.pageNumber"
            [pageSize]="shopParams.pageSize">

          </app-paging-header>
        </div>

        <div class="row mb-2">
          <div class="col-lg-3 col-sm-12" *ngFor="let product of products">
            <app-product-item [product]="product" [productCart]="product"></app-product-item>
          </div>
        </div>

        <div class="d-flex justify-content-center" *ngIf="TotalCount > 0">
          <app-pager [TotalCount]="TotalCount" [pageSize]="shopParams.pageSize"
            (pageChanged)="onPageChanged($event)"></app-pager>

        </div>
      </section>
    </div>
  </div>
 -->


  <!-- Other Style  -->

 <div class="container">
  <div class="row">
      <section class="col-lg-3 col-sm-12">
        <h5 style="color: #8c6f4e;" class="ms-3 text-center">{{'ShopByPrice'|translate}}</h5>
        <div *ngIf="currentCulture == 'ar'">
          <select class="form-select mb-4" (change)="onSortSelected($event)">
            <option class="text-center" *ngFor="let option of sortOptions" [value]="option.value">
              {{option.nameAr}}
            </option>
          </select>
        </div>
        <div *ngIf="currentCulture == 'en'">
          <select class="form-select mb-4" (change)="onSortSelected($event)">
            <option class="text-center" *ngFor="let option of sortOptions" [value]="option.value">
              {{option.nameEn}}
            </option>
          </select>
        </div>


        <h5 class="ms-3 text-center" style="color: #8c6f4e;">{{'ShopByBrands' | translate}}</h5>

        <div *ngIf="currentCulture == 'ar'">
          <select class="form-select mb-4" #v (change)="onBrandSelected(+v.value)">
            <option class="text-center" *ngFor="let brand of brands" [class.selected]="brand.brandId"
              [value]="brand.brandId">{{brand.descA}}</option>
          </select>
        </div>
        <div *ngIf="currentCulture == 'en'">
          <select class="form-select mb-4" #v (change)="onBrandSelected(+v.value)">
            <option class="text-center" *ngFor="let brand of brands" [class.selected]="brand.brandId"
              [value]="brand.brandId">{{brand.descE}}</option>
          </select>
        </div>
  

        <h5 class="ms-3 text-center" style="color: #8c6f4e;">{{'ShopByType'|translate}}</h5>
        <div *ngIf="currentCulture == 'ar'">
          <select class="form-select mb-4" #v (change)="onTypeSelected(+v.value)">
            <option class="text-center" *ngFor="let type of types"
              [class.selected]="type.itemCategoryId==shopParams.typeId" [value]="type.itemCategoryId">
              {{type.itemCatDescA}}</option>
          </select>
        </div>
        <div *ngIf="currentCulture == 'en'">
          <select class="form-select mb-4" #v (change)="onTypeSelected(+v.value)">
            <option class="text-center" *ngFor="let type of types" [class.selected]="type.itemCategoryId"
              [value]="type.itemCategoryId">{{type.itemCatDescE}}</option>
          </select>
        </div>

      </section>
      <section class="col-lg-9 col-sm-12">
          <!-- <div class="d-flex justify-content-between align-items-center pb-2">
             <app-paging-header 
             [TotalCount]="TotalCount"
             [pageNumber]="shopParams.pageNumber"
             [pageSize]="shopParams.pageSize" 
             >
             </app-paging-header>

              <div class="d-flex mt-2">
                  <input type="text" (keypress)="onSrarch()" placeholder="Search" class="form-control me-2" #search>
                  <button (click)="onSrarch()" class="btn btn-outline-primary mx-2">Search</button>
                  <button (click)="OnReset()" class="btn btn-outline-success">Reset</button>
              </div>
          </div> -->
        
        
          <div>
            <div class="row d-flex" style="justify-content: center; position: relative;">
              <!-- (keyup.enter)="onSrarch()" -->
              <ng-container *ngIf="currentCulture == 'ar'">
                <input type="text" placeholder="{{'PlaceHolderSearch'|translate}}" (keyup)="onKeyUp($event)" 
                      class="form-control me-2 col-sm-12" 
                     style="width:90%;border: 2px solid #8c6f4e;"
                     (blur)="onBlur()" 
                     #search [value]="selectedProduct?.productName">
              </ng-container>
              
              <ng-container *ngIf="currentCulture == 'en'">
                <input type="text" placeholder="{{'PlaceHolderSearch'|translate}}" (keyup)="onKeyUp($event)" 
                  class="form-control me-2 col-sm-12" 
                     style="width:90%;border-radius: 50px; border: 2px solid #8c6f4e;" 
                     #search [value]="selectedProduct?.productNameEn">
              </ng-container>
              
              <ng-container *ngIf="currentCulture == 'ar'">
                <ul class="list-group" *ngIf="showDropdown" style="position: absolute; top: 100%; left: 5%; z-index: 1000;
                width: 90%; margin-top: 5px; border-radius: 5px;max-height: 400px;overflow-y: auto;" >
<!-- 
                 <li class="list-group-item" style="cursor: pointer;" *ngFor="let product of filteredProducts; let i = index;"
                 [class.active]="i === selectedProductIndex"  
                 (click)="selectProduct(product)"
                 (keydown)="onArrowDown($event)"
                 (keydown)="onArrowUp($event)"
                 >
                   {{ product.productName }}
                 </li> -->

                 <li class="list-group-item" style="cursor: pointer;" *ngFor="let product of filteredProducts; let i = index;"
                     [class.active]="i === selectedProductIndex"  
                     (click)="selectProduct(product)"
                     (keyup.enter)="onArrowDown()">
                     {{ product.productName }}
                 </li>

               </ul>

               <ul class="list-group" *ngIf="ShowNoProductFound" style="position: absolute; top: 100%; left: 5%; z-index: 1000;
                width: 90%; margin-top: 5px; border-radius: 5px;max-height: 400px;overflow-y: auto;">
                 <li class="list-group-item" style="cursor: pointer;">
                    {{'no products found'|translate}}
                 </li>
               </ul>
              </ng-container>
               
              <ng-container *ngIf="currentCulture == 'en'">
                <ul class="list-group" *ngIf="showDropdownEn" style="position: absolute; top: 100%; left: 5%; z-index: 1000;
                 width: 90%; margin-top: 5px; border-radius: 5px;max-height: 400px;overflow-y: auto;">
                <li class="list-group-item" style="cursor: pointer;" *ngFor="let product of filteredProductsEn" (click)="selectProduct(product)">
                  {{ product.productNameEn }}
                </li>
              </ul>
              <ul class="list-group" *ngIf="ShowNoProductFoundEn" style="position: absolute; top: 100%; left: 5%; z-index: 1000;
              width: 90%; margin-top: 5px; border-radius: 5px;max-height: 400px;overflow-y: auto;">
               <li class="list-group-item" style="cursor: pointer;">
                  {{'no products found'|translate}}
               </li>
             </ul>
              </ng-container>
              
            </div>
            
            <div class="d-flex" style="justify-content:center">
           
              <button style="background-color: #8c6f4e;color: white;border-color: #8c6f4e;" class="btn btn-info m-2" (click)="onSrarch()"> <i
                class="fa fa-search" aria-hidden="true"></i>
              {{'Search'|translate}}</button>

              <button class="btn btn-light m-2" style="color: black;" (click)="OnReset()"> <i class="fa fa-repeat"
                  aria-hidden="true"></i>
                {{'Reset'|translate}}</button>
             
            </div>
          </div>



          
          <div class="row mb-2">
            <div class="col-lg-4 col-sm-12" *ngFor="let product of products">
              <app-product-item [product]="product" [productCart]="product"></app-product-item>
            </div>
          </div>


          <div class="d-flex justify-content-center" *ngIf="TotalCount > 0">
              <app-pager
              [TotalCount]="TotalCount"
              [pageSize]="shopParams.pageSize"
              (pageChanged)="onPageChanged($event)"
              >
              </app-pager>
          </div>
      </section>
  </div>
</div>

<div class="line" ></div>
