
/* استهدف العناصر المحددة في عنصر select */
option.selected {
  background-color: #4e72a1; /* لون الخلفية عند الاختيار */
  color: white; /* لون النص عند الاختيار */
}

/* استهدف العناصر عندما يتم تحويل الماوس عليها */
option:hover {
  background-color: #3c5c91; /* لون الخلفية عند التحويل بالماوس */
  color: white; /* لون النص عند التحويل بالماوس */
}

.list-group-item {
  background-color: #ffffff; /* لون الخلفية الافتراضي */
  color: #000000; /* لون النص الافتراضي */
  cursor: pointer; /* تحويل المؤشر إلى يد عند التحويل */
}

/* قم بتغيير اللون عند التحويل (hover) */
.list-group-item:hover {
  background-color: #e0e0e0; /* لون الخلفية عند التحويل */
  color: #333333; /* لون النص عند التحويل */
}
.list-group-item.active{
  background-color: #8c6f4e; ;
}
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
  }
  

  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 17px;
    cursor: pointer;
    background-color: #8c6f4e;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #f8f9fa;
    color:#8c6f4e ;
    border: 1px solid #8c6f4e;
  }


  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  // new style
  // for side navBar
  //plugins

  #mySidenav a {
    // position: absolute;
    // left: -80px;
    // transition: 0.3s;
    // padding: 15px;
    // width: 100px;
    // text-decoration: none;
    // font-size: 20px;
    // color: white;
    // border-radius: 0 5px 5px 0;
    margin-top: 137px;
    position: absolute;
    left: -171px;
    transition: 0.3s;
    padding: 15px;
    width: 200px;
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
    border-radius: 0 5px 5px 0;
    position: fixed;
    z-index: 10;

  }
  
  #mySidenav a:hover {
    left: 0;
    z-index: 10;
  }
  
  #about {
    top: 20px;
    background-color: #8c6f4e;
  }
  
  #blog {
    top: 80px;
    background-color: #f44336;
    margin-top: 10px;
  }
  
  #projects {
    background-color: #f44336;
  }
  
  #contact {
    top: 200px;
    background-color: #555
  }

/* إزالة السهم الافتراضي */
.form-select {
  background-image: none; /* إزالة الصورة الخلفية */
  /* يمكنك تعديل الخلفية والحدود والألوان حسب الحاجة */
  background-color: #8c6f4e;
  color: white;
  border: 1px solid #8c6f4e; /* إعادة تعيين لون الحدود إلى اللون المطلوب */
  border-radius: 0.375rem;
  padding-right: 0.75rem; /* تعديل الهامش الأيمن للنص داخل القائمة المنسدلة */
  /* يمكنك إضافة المزيد من التخصيصات حسب الحاجة */
}

/* تخصيص مظهر الخيارات */
.form-select option {
  background-color: #8c6f4e;
  color: white;
  font-weight: bolder;
  font-size: larger;
}

/* تخصيص مظهر الخيار المحدد */
.form-select option:checked {
  background-color: #fff; /* تخصيص لون الخيار المحدد */
  color: #000; /* تخصيص لون النص في الخيار المحدد */
}

.carousel-inner {
  transition: transform 0.5s ease-in-out; 
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.line{
  border: 1px solid black;
  margin-top: 30px;
}

.content-benfit{
  padding: 10px;
  margin-top: 40px;
  border: 1px solid #ccc;
  width: 90%;
  padding-right: 80px;

}