
  <div class="container my-5">
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 py-5 mx-auto text-center">
        <img src="../../../assets/images/Eldwlia.jpg" class="img-fluid" alt="صورة متجاوبة"> <!-- استخدام 'img-fluid' للصور لتحقيق الاستجابة -->
        <h3 class="fs-5 mt-3">{{'About the company'|translate}} :</h3>
        <p>{{'Established in 1988 AD'|translate}}</p>
        <p>{{'Agents with major ceramic, sanitary ware and supplement companies'|translate}}</p>
        <p>
        </p>
    </div>
    </div>
  </div>