<footer style="background-color: #2e2e2e; color:white;font-family: Tajawal,segoe ui,helvetica neue;margin-top: 30px;">
    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-6 col-md-2 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0" style="color: white;">خدمة
                                العملاء</a></li>
                        <hr style="color:#43afaa; border-top: 2px solid;" />
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">اتصل بنا</a></li>
                        <li class="nav-item mb-2"><a href="/branches" class="nav-link p-0">فروعنا</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">طرق الدفع</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">شروط البيع</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">سياسة الشحن</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">سياسة الاسترجاع</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">سياسة الخصوصية</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item "><a href="#" class="nav-link p-0 mb-2" style="color: white;">من نحن</a>
                        </li>
                        <hr style="color:#43afaa; border-top: 2px solid;" />

                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">مشاريعنا</a></li>
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">خدماتنا</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-2 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link p-0 mb-2" style="color: white;">مميزات</a></li>
                        <hr style="color:#43afaa; border-top: 2px solid;" />
                        <li class="nav-item mb-2"><a href="#" class="nav-link p-0">Home</a></li>

                    </ul>
                </div>

                <!-- <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Subscribe to our newsletter</h5>
                <p>Monthly digest of what's new and exciting from us.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  <label for="newsletter1" class="visually-hidden">Email address</label>
                  <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                  <button class="btn btn-primary" type="button">Subscribe</button>
                </div>
              </form>
            </div> -->

                <div class="col-6 col-md-2 mb-3">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a href="#" class="nav-link p-0 mb-2" style="color: white;">تابعنا</a></li>
                        <hr style="color:#43afaa; border-top: 2px solid;" />
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item">
                                <a href="#">
                                    <i style="color: orange;" class="fa fa-instagram m-2"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i class="fa fa-facebook m-2"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <i style="color: white;" class="fa fa-linkedin m-2"></i>
                                </a>
                            </li>
                        </ul>
                    </ul>
                </div>

            </div>
            <hr style="color:#43afaa; border-top: 2px solid;" />
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4">
                <p>شركه الدوليه للسيراميك 2023© جميع الحقوق محفوظة.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3">طرق دفع متعددة وآمنة</li>
                    <i class="fa fa-cc-visa ms-3 mt-2" aria-hidden="true" style="color: #43afaa;font-size: 25px;"></i>
                    <i class="fa fa-money ms-3 mt-2" aria-hidden="true" style="color: #43afaa;font-size: 25px;"></i>
                    <i class="fa fa-cc-mastercard ms-3 mt-2" aria-hidden="true"
                        style="color: #43afaa;font-size: 25px;"></i>
                </ul>
            </div>
        </footer>
    </div>
</footer>