
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="ms-3  mt-4 p-1" style="color: #43afaa; background-color: #f5f5f5;"><i class="fa fa-handshake-o" aria-hidden="true"></i>
                {{'OurBranches'|translate}}</h4>
        </div>

    </div>
    <div class="row">
        <div class="col mt-4 text-center" style="background-color: #f5f5f5;">
            <div style="margin-top: 20px;">
                <h4 style="color: #43afaa;">{{'Port Said Street Branch'|translate}}</h4>
                <h6><span style="color: #43afaa;">{{'Address'|translate}}</span> : شارع بورسعيد</h6>
                <h6><span style="color: #43afaa;">{{'phone number'|translate}}</span>: +20 12 29200322</h6>
            </div>
        </div>
        <div class="col mt-4">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=الدولية للتوكيلات التجارية، امام سوق غزة، 855 ش بورسعيد - محطة, Ibrahim Mekkawy, Hada'iq El Qobbah, Cairo Governorate‭&t=&z=10&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://2yu.co">2yu</a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 100%;
                            width: 100%;
                        }
                    </style><a href="https://embedgooglemap.2yu.co/">html embed google map</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 100%;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col mt-4 text-center" style="background-color: #f5f5f5;">
            <div style="margin-top: 20px;">
                <h4 style="color: #43afaa;">{{'Second Branch'|translate}}</h4>
                <h6><span style="color: #43afaa;">{{'Address'|translate}}</span> : شارع بورسعيد</h6>
                <h6><span style="color: #43afaa;">{{'phone number'|translate}}</span>: +20 12 29200322</h6>
            </div>
        </div>
        <div class="col mt-4">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=الدولية للتوكيلات التجارية، امام سوق غزة، 855 ش بورسعيد - محطة, Ibrahim Mekkawy, Hada'iq El Qobbah, Cairo Governorate‭&t=&z=10&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://2yu.co">2yu</a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 100%;
                            width: 100%;
                        }
                    </style><a href="https://embedgooglemap.2yu.co/">html embed google map</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 100%;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col mt-4 text-center" style="background-color: #f5f5f5;">
            <div style="margin-top: 20px;">
                <h4 style="color: #43afaa;">{{'third Branch'|translate}}</h4>
                <h6><span style="color: #43afaa;">{{'Address'|translate}}</span> : شارع بورسعيد</h6>
                <h6><span style="color: #43afaa;">{{'phone number'|translate}}</span>: +20 12 29200322</h6>
            </div>
        </div>
        <div class="col mt-4">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas"
                        src="https://maps.google.com/maps?q=الدولية للتوكيلات التجارية، امام سوق غزة، 855 ش بورسعيد - محطة, Ibrahim Mekkawy, Hada'iq El Qobbah, Cairo Governorate‭&t=&z=10&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                        href="https://2yu.co">2yu</a><br>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 100%;
                            width: 100%;
                        }
                    </style><a href="https://embedgooglemap.2yu.co/">html embed google map</a>
                    <style>
                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 100%;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</div>