  <ng-container>
    <section  class="py-5 mb-3"  style="background-color: #f5f5f5;">
        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-7">
                    <h1>Title goes here</h1>
                </div>
                <div class="col-5">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
  </ng-container>