<!-- order.component.html -->
<div class="alert alert-primary" role="alert" *ngIf="UserOrdersData.length == 0;">
   <h6>{{'There are no order yet'|translate}}</h6>
</div>
<div class="container mt-5" *ngIf="UserOrdersData.length > 0;">
    <h4>{{'User Orders from branch'|translate}}</h4>
    <hr>
    
    <table class="table">
      <thead>
        <tr>
          <th>{{'order number'|translate}}</th>
          <th>{{'Not Paid'|translate}}</th>
          <th>{{'Created At'|translate}}</th>
          <th>{{'Details'|translate}}</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let order of UserOrdersData">
          <td># {{ order.salesOfferId }}</td>
          <td>{{ order.notPaid }}</td>
          <td>{{ order.createdAt | date:'medium' }}</td>
          <td>
            <ul>
              <li *ngFor="let detail of order.details">
                {{'product Name'|translate}} : <ng-container *ngIf="currentCulture == 'ar'">{{ detail.itemDescA }}</ng-container>  <ng-container *ngIf="currentCulture == 'en'">{{ detail.itemDescE }}</ng-container>  - {{"Quantity" | translate}} : {{ detail.quantity }} - {{'prd Price' | translate}} : {{ detail.price }}
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  