<!-- <div class="d-flex justify-content-center mt-5">
    <div class="col-lg-3 col-md-6 col-sm-12">
        <form>
            <div class="text-center mb-4">
                <h1 class="mb-3">{{'Login2'|translate}}</h1>
            </div>

            <div class="form-floating mb-3">
                <input 
                    type="email"
                    formControlName="email" 
                    class="form-control" 
                    id="floatingEmail" 
                    placeholder="name@example.com">
                <label for="floatingEmail">Email Address</label>
                <div  class="invalid-feedback">Email is required</div>
            </div>

            <div class="form-floating">
                <input 
                   type="password"
                   formControlName="password" 
                   class="form-control" 
                   id="floatingPassword" 
                   placeholder="password">
                <label for="floatingPassword">Password</label>
                <div  class="invalid-feedback">password is required</div>

            </div>

            <div class="d-grid">
                <button class="btn btn-lg btn-primary mt-3" type="submit">Sign In</button>
            </div>
        </form>
    </div>
</div> -->

    <a>{{'tlogin'|translate}}</a>
