<header class="text-center mt-4" *ngIf="TotalCount && pageNumber && pageSize">
    <span style="border: 2px solid #43afaa;padding: 5px;border-radius: 50px;" class="p-2" *ngIf="TotalCount > 0">
      <i style="font-size: 20px;" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
      <span class="sr-only">Loading...</span>
      {{'showing'|translate}}
      <strong> {{(pageNumber-1)*pageSize+1}}-
        {{pageNumber*pageSize
        >TotalCount
        ?TotalCount
        :pageNumber*pageSize
        }}

      </strong>{{'of'|translate}}
      <strong> {{TotalCount}} </strong>{{'Result'|translate}}</span>
     
      <span *ngIf="TotalCount === 0">
        there are <strong>0</strong> Results for this filter
      </span>
  </header>
