<!-- <carousel [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [startFromIndex]="6"
          [interval]="0">
  <slide *ngFor="let product of products; let index=index">
    <app-product-item [product]="product"></app-product-item>
  </slide>
</carousel> -->



<!-- <div class="phone-carousel-container">
  <h4 class="ms-3  mt-4 p-1" style="color: #43afaa; background-color: #f5f5f5;"><i class="fa fa-line-chart"
      aria-hidden="true"></i>
    {{'BestSell'|translate}}</h4>

    <div class="carousel-container" *ngIf="slidesProduct">
      <carousel [isAnimated]="true" [itemsPerSlide]="4" [singleSlideOffset]="true" [interval]="0">
        <ng-container *ngFor="let slide of slidesProduct">
          <slide class="col-12 m-4">
            <figure class="snip1171 orange">
              <img src="../../../assets/images/prd.jpg" alt="sample52" />
              <div class="price">$19.00</div>
              <figcaption>
                <h3>Wax Jacket</h3>
                <p class="card-text">{{slide.itemDescA}}</p>
                <a href="#">Add to Cart</a>
              </figcaption>
            </figure>
          </slide>
        </ng-container>
      </carousel>
    </div>
</div> -->





<!-- 
<div class="single-showcase clearfix">

  <div id="subscription-options" class="single-showcase-panel-wrap product-preview c-12-12">
      <div class="single-showcase-panel">
          <div id="preview-container" style="overflow:auto;"><iframe src="about:blank" class="preview-iframe" width="1536" height="712" frameborder="0"></iframe></div>
      </div>
  </div>

</div> -->

<!-- 
<body>

    <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand1.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand2.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand3.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand4.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand5.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand6.jpg" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="card">
        <div class="img-wrapper">
          <img src="assets/images/brand7.jpg"  alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: red;"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: red;"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

</body> -->
<!-- <div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->
<!-- 
<div>Some tags before</div>
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>Slide 1</ng-template>  
  <ng-template carouselSlide>Slide 2</ng-template>  
  <ng-template carouselSlide>Slide 3</ng-template>  
</owl-carousel-o>
<div>Some tags after</div> -->
<!-- <div style="margin-left: 10%;margin-right: 10%;margin-top: 50px;">
  <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
      <img src="{{ slide.img }}" alt="" style="margin-left: auto;margin-right: auto; height: 250px;width: 250px;">
    </div>
  </ngx-slick-carousel>

</div> -->
<!-- 
<div class="container-fluid my-5">
  <h1 class="text-center fw-bold display-1 mb-5">Owl <span class="text-danger">Carousel</span></h1>
  <div class="row">
      <div class="col-12 m-auto">
          <div class="owl-carousel owl-theme">
              <div class="item mb-4">
                  <div class="card border-0 shadow">
                      <img src="../../../assets/images/1.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                              <h4>Owl Carousel</h4>
                          </div>
                      </div>
                  </div>
              </div>

              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="../../../assets/images/3.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                              <h4>Owl Carousel</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="../../../assets/images/4.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                              <h4>Owl Carousel</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="../../../assets/images/5.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                              <h4>Owl Carousel</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="../../../assets/images/6.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                              <h4>Owl Carousel</h4>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="item">
                  <div class="card border-0 shadow">
                      <img src="../../../assets/images/7.jpg" alt="" class="card-img-top">
                      <div class="card-body">
                          <div class="card-title text-center">
                              <h4>Owl Carousel</h4>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div> -->
<!-- 
<div class="slider-effectCoverflow">
  <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="3"
    [dir]="'RTL'"
    [coverflowEffect]="{
      rotate:50,
      stretch:0,
      depth:100,
      modifier:1,
      slideShadows:true
    }"
    [pagination]="true"
    [navigation]="true"
    class="mySwiper"
    
  >
  <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
    <app-product-item [product]="product"></app-product-item>
  </ng-template>
</swiper>
</div> -->

<!-- 
<div class="slider-effectCoverflow">
  <swiper
    [effect]="'coverflow'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slidesPerView]="'auto'"
    [dir]="'RTL'"
    [coverflowEffect]="{
      rotate:50,
      stretch:0,
      depth:100,
      modifier:1,
      slideShadows:true
    }"
    [pagination]="true"
    [navigation]="true"
    class="mySwiper"
    
  >
  <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
    <app-product-item [product]="product"></app-product-item>
  </ng-template>
</swiper>
</div> -->


<div class=" mt-5 text-center" *ngIf="slidesProduct.length != 0">
  <h3 class="display-5">{{'BestSell'|translate}}</h3>
</div>


  <div class="large-screen mt-5">
    <swiper
    [effect]="'slide'"
    [spaceBetween]="25" 
    [slidesPerView]="4"
    [dir]="'RTL'"
    class="mySwiper"
    [navigation]="true"

  >
    <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
      <div style="width: 100%;margin-right: 20px;">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </ng-template>
    

   </swiper>
  </div>

  <div class="slider-effectCoverflow small-screen">
    <swiper
      [effect]="'coverflow'"
      [grabCursor]="true"
      [centeredSlides]="true"
      [slidesPerView]="'auto'"
      [dir]="'RTL'"
      [coverflowEffect]="{
        rotate:50,
        stretch:0,
        depth:100,
        modifier:1,
        slideShadows:true
      }"
      [pagination]="true"
      [navigation]="true"
      class="mySwiper"
    >
      <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
        <app-product-item [product]="product"></app-product-item>
      </ng-template>
    </swiper>
  </div>
  
  
  <div class="slider-effectCoverflow mudiem-screen">
    <swiper
      [effect]="'slide'"
      [spaceBetween]="25" 
      [slidesPerView]="3"
      [dir]="'RTL'"
      class="mySwiper"
      [navigation]="true"
  
    >
      <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
        <div style="width: 100%;margin-right: 20px;">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </ng-template>
      
  
     </swiper>
  </div>











<!-- <ng-container>
  <swiper
    [effect]="'slide'"
    [spaceBetween]="25" 
    [slidesPerView]="4"
    [dir]="'RTL'"
    [slideToClickedSlide]="true"
    [navigation]="true"


    class="mySwiper"
  >
    <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
      <div style="width: 100%;">
        <app-product-item [product]="product"></app-product-item>
      </div>
    </ng-template>

    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </swiper>
</ng-container> -->


<!-- Swiper الأول - للشاشات الكبيرة -->
<!-- <div class="slider-effectCoverflow">
  <swiper
   [effect]="'slide'"
    [grabCursor]="true"
    [centeredSlides]="true"
    [slideToClickedSlide]="true"
    [slidesPerView]="4"
    [dir]="'RTL'"
   
    [pagination]="true"
    [navigation]="true"
    
    class="mySwiper"
  >
    <ng-template class="m-2" swiperSlide *ngFor="let product of slidesProduct">
      <app-product-item [product]="product"></app-product-item>
    </ng-template>
  </swiper>
</div> -->

<!-- Swiper الثاني - للشاشات الصغيرة -->
