.openbtn {
    font-size: 17px;
    cursor: pointer;
    background-color: #43afaa;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #f8f9fa;
    color:#43afaa ;
    border: 1px solid #43afaa;
  }