.openbtn {
    font-size: 17px;
    cursor: pointer;
    background-color: #43afaa;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #f8f9fa;
    color:#43afaa ;
    border: 1px solid #43afaa;
  }

  // @media (min-width: 992px) {
  //   .row-cols-custom {
  //     column-count: 6; /* 6 images per row for larger screens */
  //   }
  // }
  
  // @media (max-width: 991px) {
  //   .row-cols-custom {
  //     column-count: 3; /* 3 images per row for smaller screens */
  //   }
  // }
  
@media (min-width: 992px){
.col-lg-2 {
    flex: 0 0 auto;
    width: 11.666667%;
}
}

.carousel-inner {
  transition: transform 0.5s ease-in-out; 
}

.carousel-item {
  display: flex;
  align-items: center;
  justify-content: center;
}


.line{
  border: 1px solid black;
  margin-top: 30px;
}


.content-benfit{
  padding: 10px;
  margin-top: 40px;
  border: 1px solid #ccc;
  width: 90%;
  padding-right: 80px;

}


.img-content{
  position: absolute;
  top: 50%;
  right: 12px;
  width: 70%;
  text-align: center;
  background-color: #373331c9;
  color: white;
  height: 70px;
}

.img-content2{
  position: absolute;
  top: 50%;
  right: 12px;
  width: 40%;
  text-align: center;
  background-color: #373331c9;
  color: white;
  height: 70px;
}

.img-content3{
  position: absolute;
  top: 50%;
  right: 12px;
  width: 60%;
  text-align: center;
  background-color: #373331c9;
  color: white;
  height: 80px;
}



