
<section >
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image"> -->
            <img src="../../../assets/images/Beshay Logo.png"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                  
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-floating mt-3">
            <input [class.is-invalid]="forgetPasswordForm.get('email')?.invalid&&forgetPasswordForm.get('email')?.touched" type="email" formControlName="email" class="form-control" id="floatingEmail" placeholder="name@example.com">
            <label for="floatingEmail">{{'Email Address'|translate}}</label>
            <div *ngIf="forgetPasswordForm.get('email')?.errors?.['required']" class="invalid-feedback">{{'Email is required'|translate}}</div>
      
            <div *ngIf="forgetPasswordForm.get('email')?.hasError('pattern')" class="invalid-feedback">
               {{'invalidEmail'|translate}}
            </div>
        
            <div *ngIf="forgetPasswordForm.get('email')?.hasError('maxlength')" class="invalid-feedback">
              {{'Emailmax'|translate}}
           </div>
       
           <div *ngIf="forgetPasswordForm.get('email')?.hasError('minlength')" class="invalid-feedback">
            {{'Emailmin'|translate}}
          </div>
        </div>
    
        <button style="background-color: #8c6f4e; border-color: #8c6f4e;"
         [disabled]="forgetPasswordForm.invalid" class="w-100 btn btn-lg btn-primary mt-3"
          type="submit">
            {{'send'|translate}}
        </button>  
    
    </form> 
            </div>
      </div>
    </div>
  </section>

