/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
label.xng-breadcrumb-trail {
  color: orangered;
}

.carousel-control-next-icon {
  background-color: #8c6f4e;
}

.carousel-control-prev-icon {
  background-color: #8c6f4e;
}

.page-link.active,
.active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #8c6f4e;
  border-color: #8c6f4e;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

body {
  overflow-x: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: #8c6f4e !important;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #8d644c;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
  padding: inherit;
}
