/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
label.xng-breadcrumb-trail {
  color: orangered;
}

.carousel-control-next-icon {
  background-color: #8c6f4e;
}

.carousel-control-prev-icon {
  background-color: #8c6f4e;
}

.page-link.active,
.active > .page-link {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #8c6f4e;
  border-color: #8c6f4e;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
}

body {
  overflow-x: auto;
}

// .swiper-button-prev,
// .swiper-button-next {
//    color: white !important;
//    background-color: #8c6f4e; 

// }

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: #8d644c;
}

.nav-pills {
  --bs-nav-pills-border-radius: 0.375rem;
  --bs-nav-pills-link-active-color: #fff;
  --bs-nav-pills-link-active-bg: #0d6efd;
  padding: inherit;
}


.carousel-indicators{
  display: none;
}

// horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
//   display: none;
// }

*{
  font-family: 'Roboto', sans-serif;
}

.btn-outline-primary {
  --bs-btn-color: #8d644c;
  --bs-btn-border-color: #8d644c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8d644c;
  --bs-btn-hover-border-color: #8d644c;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8d644c;
  --bs-btn-active-border-color: #8d644c;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #8d644c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #8d644c;
  --bs-gradient: none;
}